.portfolio {
    padding-top: 80px;
    padding-bottom: 90px;

    background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;

    /* Tablet Big*/
    @media (max-width: 1139px) {
       padding-top: 40px;
       padding-bottom: 60px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
      padding-top: 30px;
       padding-bottom: 40px;
    }
}

.portfolio-cards {  
    margin-top: 65px;  
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;

    /* Tablet Big*/
    @media (max-width: 1139px) {
       margin-top: 40px;
       row-gap: 40px;
    }

    /* Tablet Small */
    @media (max-width: 899px) {
       margin-top: 30px;
       row-gap: 20px;
    }

    /* Mobile */
    @media (max-width: 767px) {
       flex-direction: column;
       row-gap: 30px;
    }

}

.slider-portfolio{
    margin-top: 30px;
    margin-bottom: 33px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;

    .slider-button{
        transition: .3s ease-in;
        font-weight: 700;
        font-size: 24px;
        color: #9EC2D0;

        &.control-active{
         color: #FF543E;
        }
        
        /* Tablet Small */
        @media (max-width: 899px) {
           font-size: 18px;
        }

        /* Mobile */
        @media (max-width: 767px) {
           font-size: 12px;
        }
    }
        /* Mobile */
        @media (max-width: 767px) {
           column-gap: 20px;
           margin-top: 15px;
           margin-bottom: 15px;
           flex-wrap: wrap;
           row-gap: 20px;
        }
}